/* Reset */
*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial, Helvetica, sans-serif;
}

/* Main Page */
.home{
    min-height:100vh;
    background:#f5f7fa;
}

/* Navbar */
.navbar{
    width:100%;
    height:70px;
    background:#c62828;
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:0 60px;
    color:white;
    position:fixed;
    top:0;
    left:0;
    z-index:1000;
    box-shadow:0 3px 10px rgba(0,0,0,0.2);
}

.logo{
    font-size:28px;
    font-weight:bold;
}

.logo span{
    margin-left:8px;
}

.nav-links{
    display:flex;
    list-style:none;
}

.nav-links li{
    margin-left:30px;
}

.nav-links li a{
    text-decoration:none;
    color:white;
    font-size:18px;
    transition:0.3s;
}

.nav-links li a:hover{
    color:#ffd54f;
}

/* Hero Section */

.hero{
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:140px 80px 60px;
}

.hero-text{
    width:50%;
}

.hero-text h1{
    font-size:50px;
    color:#b71c1c;
    margin-bottom:20px;
}

.hero-text h2{
    font-size:30px;
    color:#1565c0;
    margin-bottom:20px;
}

.hero-text p{
    font-size:20px;
    color:#555;
    line-height:1.8;
    margin-bottom:30px;
}

/* Buttons */

.hero-buttons button{
    padding:15px 30px;
    border:none;
    border-radius:8px;
    color:white;
    font-size:18px;
    cursor:pointer;
    margin-right:20px;
    transition:0.3s;
}

.btn-red{
    background:#d32f2f;
}

.btn-blue{
    background:#1565c0;
}

.btn-red:hover{
    background:#8e0000;
    transform:scale(1.05);
}

.btn-blue:hover{
    background:#0d47a1;
    transform:scale(1.05);
}

/* Image */

.hero-image{
    width:45%;
    display:flex;
    justify-content:center;
}

.hero-image img{
    width:100%;
    max-width:500px;
    border-radius:20px;
    box-shadow:0 8px 20px rgba(0,0,0,0.3);
}

/* About Section */

.about{
    width:90%;
    max-width:1000px;
    margin:60px auto;
    background:white;
    padding:40px;
    border-radius:15px;
    text-align:center;
    box-shadow:0 8px 20px rgba(0,0,0,.15);
}

.about h2{
    color:#c62828;
    font-size:36px;
    margin-bottom:20px;
}

.about p{
    font-size:20px;
    color:#555;
    line-height:1.8;
}

/* Responsive */

@media(max-width:900px){

.hero{
    flex-direction:column;
    text-align:center;
}

.hero-text{
    width:100%;
}

.hero-image{
    width:100%;
    margin-top:40px;
}

.about{
    width:95%;
    padding:25px;
}

.navbar{
    flex-direction:column;
    height:auto;
    padding:20px;
}

.nav-links{
    margin-top:15px;
    flex-wrap:wrap;
    justify-content:center;
}

.nav-links li{
    margin:10px;
}

.hero-text h1{
    font-size:36px;
}

.hero-text h2{
    font-size:24px;
}

.hero-text p{
    font-size:18px;
}

.hero-buttons button{
    margin:10px;
    width:200px;
}

}